# 基本配置
[BASE]
# 端口
PORT=9200
# 最大连接数
MAXCLIENT=100
# 处理线程数目, 一般为cpu内核数目
MAXHANDLETHREAD=4
# 单核每秒处理请求数目
MAXQUERYPERCOPY=0
# 单个http请求超时时间(秒), 0为不超时
TIMEOUT=0
# 统计信息输出时间间隔(秒)
STATETIME=30
# flash客户端请求处理超时时间(秒), 0为不超时
FLASH_TIMEOUT=5

# 日志配置
[LOG]
# 日志级别(0-5, 0:关闭, 5:全开)
LOGLEVEL=5
# 日志路径
LOGDIR=log_camshare_middleware
# 调试模式(0:关闭, 1:开启)
DEBUGMODE=1

# Livechat服务器配置
[LIVECHAT]
# 端口
PORT=4311
# IP
IP=58.64.141.117
# 服务器对本应用唯一标识,不能重复
NAME=CAMDEMO
# 连接成功是否重新验所有证会议室用户
AUTHORIZATION_ALL_CONFERENCE=1

# Freeswitch服务器配置
[FREESWITCH]
# 端口
PORT=8021
# IP
IP=127.0.0.1
# 用户名
USER=
# 密码
PASSWORD=ClueCon
# 是否开启录制视频
ISRECORDING=1
# 录制视频目录
RECORDINGPATH=/usr/local/freeswitch/recordings/video_h264